.WeatherCompDiv{
    position: relative;
   
    
    height: 20%;
    margin-top: 5%;
    margin-bottom: 5%;
}

#WeatherCompImg{
   text-align: center;
   
}
#WeatherCompImgDiv{
    width: 140px;
    height: 140px;
}

.WeatherCompTemp{
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    font-size: 20px;
    color: white;
    text-shadow: 2px 1px 2px black;
    font-size: 2vw;
    left: 50%;
    position: relative;
}

.WeatherCompTemp > span {
    
    font-size: 1.2vh;
}