.Board{
    position: relative;
    width: 100%;
    height: 100%;
}

.middleComp{
    position: absolute;
   width: fit-content;
    display: inline-block;
    left: 30%;
    height: 100%;
    width: 30%;
}


.Time {
    margin-top: 10%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    font-size: 50px;
    color: white;
    text-align: center;
    text-shadow: 5px 2px 2px black;
}
.SearchBarGroup{
    width: fit-content;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 30%;
}

img {
    border-radius: 5px 0px 0px 5px;
    height:20px;
 }

.add{
    position: fixed;
    left: 90%;
    top: 90%;
}

.woogles{
    width: 100%;
    height: 100%;
    display: inline-block;
}

.leftWoogles{
    width: 30%;
    float: left;
    height: 100%;
}
.rightWoogles{
    width: 30%;
    float: right;
    height: 100%;
}

.URLWoogles > span{
    background-color: #ffa931;
}

.toDoWoogles > span{
    background-color: #fecb89;
}

#detailCard{
    position: absolute;
    z-index: 1;
    opacity: 0.7;
    transition: opacity 0.5s;
    
}

#detailCard:hover{
    opacity: 1;
}



