.MuiTextField-root{
    
    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 2px 2px 1px dimgray;
}

.SearchBar{

    padding: 10px;
    margin-bottom: 5%;
    border-radius: 5px;
    box-shadow: 1px 3px 3px 3px gray;
    background-color: #fbe6d4;
    /*left: 36%;*/
    opacity:0.6;
    transition: opacity 0.6s;
    
}

.SearchBar:hover{
    box-shadow: 2px 6px 6px 4px gray;
    opacity:1;
}

